*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 90px;
    display: block;
    background-color: #101010;
}
.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
    margin-top: 1rem;
}
.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.logo_container h1 span{
    font-weight: 800;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
}
.content{
    width: 90%;
    height: 100%;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.info{
    width: 90%;
    height: 100%;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.info2{
    width: 90%;
    height: 100%;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40%;
    margin-bottom: 1rem;
}
.info3{
    width: 90%;
    height: 100%;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(45vh - 90px - 90px);
}
footer a li{
        height: 100%;
        float: left;
        display: table-cell;
        vertical-align: middle;
        color: white;
        padding: 0px 20px;
}
footer{
    background-color: #101010;
    padding: 40px;
}
.inner_footer{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
